<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB6mF3QO8IFoCoRTHKPuYB5v5ove1UwjiU</string>
	<key>GCM_SENDER_ID</key>
	<string>358507952744</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iManzi.manziSaveLink</string>
	<key>PROJECT_ID</key>
	<string>manzisavelink</string>
	<key>STORAGE_BUCKET</key>
	<string>manzisavelink.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:358507952744:ios:49d5bdd0172675289259dd</string>
</dict>
</plist>