<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>NSAppTransportSecurity</key>
        <dict>
            <key>NSAllowsArbitraryLoads</key>
            <true/>
        </dict>
        
        <key>CFBundleURLTypes</key>
        <array>
            <dict>
                <key>CFBundleURLSchemes</key>
                <array>
                    <string>fb1035056227678115</string>
                </array>
            </dict>
        </array>
        <key>FacebookAppID</key>
        <string>1035056227678115</string>
        <key>FacebookClientToken</key>
        <string>f6a7ce3a4b99fcaae94d5e6e4ff20b47</string>
        <key>FacebookDisplayName</key>
        <string>iManzi.SaveLink</string>
        
        <key>LSApplicationQueriesSchemes</key>
        <array>
            <string>fbapi</string>
            <string>fb-messenger-share-api</string>
        </array>
    </dict>
</plist>
